body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(172, 251, 255);
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    hyphenate-character: red;
    color: #fff;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Ajoutez ceci pour arrondir les coins de l'image */
}

.info-container {
    max-width: 60%; /* Ajustez la largeur de la colonne d'informations selon vos besoins */
}

/* Ajoutez des styles supplémentaires selon vos préférences */

