body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 230, 191);
    color: #0e0a0a;
}

header {
    background-color: rgb(78, 64, 64);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 20px;
    background-color: rgb(117, 180, 116);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #cbebef;
}

h2 {
    color: #030f11;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    hyphenate-character: red;
    color: #fff;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container img {
    max-width: 50%;
    height: auto;
    border-radius: 8px; /* Ajoutez ceci pour arrondir les coins de l'image */
}

.info-container {
    max-width: 60%; /* Ajustez la largeur de la colonne d'informations selon vos besoins */
}

/* Ajoutez des styles supplémentaires selon vos préférences */

